Flask
Flask-Cors
Flask-Limiter
Celery
redis
pymongo
scikit-learn==1.5.2
joblib
flask-pymongo
python-dotenv
pandas
python-dateutil
pymongo>=4.6.0
google-auth-oauthlib==1.0.0
google-api-python-client==2.108.0
scapy



